html {
    font-family: sans-serif;
    font-size: 1rem;
    word-break: break-word;
}

:root {
    --bg-color: rgb(255, 255, 255);
    --frame-width: 900px;
    --border: 1px solid black;
}

body {
    margin-top: 1px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: var(--frame-width);
    max-width: var(--frame-width);
    padding: 15px;
    background-color: white;
    box-shadow:0 0 3px 0px #000000;
    border: var(--border);
}

@media (max-width: 900px) {
    body {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
    }
}

h2 {
    font-size: 1.25rem;
}

header {
    padding: 5px;
    background-color: var(--bg-color);
}

footer {
    box-sizing: border-box;
    margin: 0em;
    margin-top: 1rem;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border:var(--border);
    background: var(--bg-color);
}

th {
    border: var(--border);
}

tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

td { 
    border: var(--border);
    border-width: 0 1px;
    padding-left: 5px;
}

pre {
    background: var(--bg-color);
    margin:0;
    overflow-x: auto;
    box-shadow:0 0 1px 0px #000000;
    border: var(--border);
    padding: 5px;
    font-size: 0.8rem;
}

.box {
    border: var(--border);
    border-bottom: none;
    display: block;
    padding: 5px;
}

blockquote {
    border-left: solid 1px grey;
    padding-left: 5px;
    color: grey;
}

code {
    font-size: 0.8rem;
}

img {
    display: block;
    max-width: 100%;
    margin:auto;
    height:auto;
}

.katex-display {
    overflow: auto;
    height: 100%;
}