---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Contact Information"
	pubDate={new Date('March 11 2023')}
	updatedDate={new Date('March 11 2023')}
>
	<p>
		My name is Louis Kronberg. You can contact me through:
		<ul>
			<li><a href="mailto:louiskronberg@gmail.com">louiskronberg@gmail.com</a></li>
			<li><a href="https://twitter.com/LouisKronberg">@LouisKronberg</a></li>
		</ul>
	</p>

	<h1>About this site</h1>
	<p>This site is built on <a href="https://astro.build/">astro 💫</a> using <a href="https://highlightjs.org/">highlight.js</a> for syntax highlighting and <a href="https://katex.org/">katex</a> for latex math formulas.
	</p>

</Layout>
