---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to <u>the orbital</u></h1>

			<img src="/placeholder-social.jpg"/>

			<p>
				This is just a silly little blog for my ctf-writeups and other interests.
				Especially interesting to me are reverse engineering and low-level programming.
			</p>

			<p>
				I am still gathering my bearings here!
				While I have written very little for others to read, I have written a lot to myself.
				Naturally, there are worlds of differences between writing for yourself and writing for an audience,
				so it is going to take a while for my writing style and formatting to be up to par.
			</p>

			<h2>Why is this blog called the orbital?</h2>

			<p>
				I just chose an arbitrary name because it sounded cool!
				But that story is no fun, so here is an ad-hoc explanation:
				This blog is basically a glimpse into my world!
				You as a reader can do nothing but looking in from the outside.
				Up high, suspended in orbit revolving around my little planet.
			</p>

			<p>
				This blog has no affiliation with the band of the same name.
			</p>
		</main>
		<Footer />
	</body>
</html>
