---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to the Orbital</h1>


			<p>Welcome to the orbital! The orbital is a small blog where I publish posts on some of the things I take an interest in. Many of my interests revolve around computing and technology. Especially interesting to me are reverse engineering and low-level programming.
			</p>

			<img src="/placeholder-social.jpg"/>

			<p>
			As of right now there is not much content here yet. Check out my blogposts tho.
			</p>
		</main>
		<Footer />
	</body>
</html>
