---
import HeaderLink from './HeaderLink.astro';

const today = new Date();
const {link, alt} = Astro.props;
---

<hr>
<footer>
	<div class="left">
	{
		link && alt && (<a href={link}>{alt}</a>)
	}
	</div>
	<div class="center">
		&copy; {today.getFullYear()} Louis Kronberg
	</div>
	<div class="left">
	</div>
</footer>
<style>
	footer {
		display: flex;
		margin: 0;
	}
	.center {
		flex: 1;
		text-align: center;
	}
	.left {
		flex: 1;
	}
	a {
		display: inline-block;
	}
</style>
