---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
	</div>
<div >
	<img src="/logo.png"/>
</div>
</header>
<hr/>
<style>

	header {
		display: flex;
		position: relative;
	}
	h2 {
		margin: 0.5em 0;
		margin-left: 5px;
	}
	nav {
		display: flex
	}
	img {
		margin: auto;
		position: absolute;
		right: 0px;
		top: 50%;
		bottom: 50%;
		height: 100%;
	}
	hr {
		margin-top: 0;
		margin-bottom: 1em
	}
</style>
